spring:
  application:
    name: ibank-api
  datasource:
    url: jdbc:mysql://localhost:3306/java
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
      
server:
  port: 8081
  servlet:
    context-path: /api
